<div class="container">
    <h1 class="mat-h1">
        <mat-icon>emails</mat-icon>
        Send emails
    </h1>

    <div class="template-selector-container">
        <app-template-selector (selectedTemplateChange)="onSelectedTemplateChange($event)"></app-template-selector>
    </div>

    <mat-divider></mat-divider>

    <div class="recipients-selector-container">
        <button mat-raised-button color="accent" [disabled]="!selectedTemplate">
            <mat-icon>people</mat-icon>
            Add recipient group
        </button>
        <button mat-raised-button color="accent" [disabled]="!selectedTemplate">
            <mat-icon>person</mat-icon>
            Add recipient
        </button>
        <button mat-raised-button color="accent" [disabled]="!selectedTemplate">
            <mat-icon>person</mat-icon>
            Add custom recipient
        </button>
    </div>

    <div class="email-box-container">

    </div>

    <div class="email-sender-container">

    </div>
</div>
