<div class="container">
    <h1 class="mat-h1">
        <mat-icon>emails</mat-icon>
        Send emails
    </h1>

    <div class="template-selector-container">
        <app-template-selector (selectedTemplateChange)="onSelectedTemplateChange($event)"></app-template-selector>
    </div>

    <mat-divider></mat-divider>

    <div class="email-wrapper">
        <div class="email-sender-container">
            <app-email-sender></app-email-sender>
        </div>

        <div class="recipients-selector-container">
            <app-recipient-groups-selector [disabled]="!selectedEmailTemplate"></app-recipient-groups-selector>
            <app-recipient-selector [disabled]="!selectedEmailTemplate"></app-recipient-selector>
            <app-custom-recipient-selector [disabled]="!selectedEmailTemplate"></app-custom-recipient-selector>
        </div>
    </div>
</div>
