@import '../shared/_ui-tools.scss';
@import '../shared/_variables.scss';

:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .container {
        @include flex-column-centered();

        padding: 16px;

        h1 {
            display: flex;
            align-items: center;

            mat-icon {
                margin-right: 8px;
            }
        }

        .template-selector-container {
            @include flex-column-centered();

            margin-top: 16px;

            .selected-template-card {
                margin-bottom: 16px;
                min-width: 160px;
                min-height: 50px;
                max-height: 100px;

                &-empty {
                    margin-bottom: 16px;
                    font-style: italic;
                }
            }
        }

    }

}