@import '../shared/_ui-tools.scss';
@import '../shared/_variables.scss';

:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .container {
        @include flex-column-centered();

        padding: 16px;

        h1 {
            display: flex;
            align-items: center;

            mat-icon {
                margin-right: 8px;
            }
        }
        
        .heading-container {
            @include flex-row-centered();

            .separator {
                margin: 0 16px 0 16px;
            }

            .seach-field {
                display: flex;
                align-items: flex-start;
                margin-top: 16px;
            }
        }

    }

}