<h2 mat-dialog-title>
    <span>
    Add recipients from a group

    </span>
    <mat-icon>people</mat-icon>
</h2>

<mat-dialog-content class="mat-typography">
    <mat-form-field class="recipient-groups-form-field">
        <mat-hint>Select a recipient group to populate email info for its recipients</mat-hint>
        <mat-select (selectionChange)="onRecipientGroupSelectionChange($event)">
            <mat-option *ngFor="let recipientGroup of recipientGroups" [value]="recipientGroup">{{ recipientGroup.title }}</mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="actions">
    <!-- <button mat-raised-button
            color="accent"
            (click)="onCancel()">
        Cancel
    </button>
    <button mat-raised-button
            color="primary"
            [disabled]="!selectedRecipientGroups || !selectedRecipientGroups.length"
            (click)="onSubmitSelection()">
        Select
    </button> -->
</mat-dialog-actions>
