@import '../shared/_ui-tools.scss';
@import '../shared/_variables.scss';

:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .container {
        @include flex-column-centered();

        width: 100%;
        padding: 16px;

        h1 {
            display: flex;
            align-items: center;

            mat-icon {
                margin-right: 8px;
            }
        }
        
        .heading-container {
            @include flex-column-centered();

            .separator {
                margin: 16px 0 16px 0;
            }

            form {
                @include flex-column-centered();

                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                padding: 16px;

                mat-form-field {
                    margin: 8px;
                }

                .filter-row {
                    @include flex-row-centered();
                    align-self: flex-start;
                }
                
                mat-radio-group {
                    align-self: center;

                    mat-radio-button {
                        margin-right: 8px;
                    }
                }


                button {
                    margin-left: 16px;
                }
            }
        }

        .sent-emails-container {
            @include flex-column-centered();
            width: 100%;
            margin-top: 32px;
            text-align: center;

            mat-card {
                margin: 16px auto;
                width: 100%;
                max-width: 1200px;
                text-align: left;

                .email-field {
                    font-weight: 500;
                    color: $primary-color;
                }

                .sent-successfully-field {
                    color: lightcoral;

                    &.sent-successfully {
                        color: lightgreen;
                    }
                }

                .confirmation-field {
                    .unconfirmed {
                        color: lightcoral;
                    }
    
                    .received {
                        color: yellow;
                    }
    
                    .received-and-confirmed {
                        color: lightgreen    ;
                    }
    
                    .received-and-rejected {
                        color: red;
                    }
                }
            }
        }
    }
}