<h2 mat-dialog-title>
    {{ 'CONTENT.RECIPIENT_GROUPS.CREATE_RECIPIENT_GROUP.TITLE' | translate }}
</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroup" name="formGroup">
        <mat-form-field>
            <mat-label>{{ 'CONTENT.RECIPIENT_GROUPS.CREATE_RECIPIENT_GROUP.TITLE_FIELD.LABEL' | translate }}</mat-label>
            <mat-hint>{{ 'CONTENT.RECIPIENT_GROUPS.CREATE_RECIPIENT_GROUP.TITLE_FIELD.HINT' | translate }}</mat-hint>
            <input matInput
                   required
                   [formControlName]="'title'"
                   >
        </mat-form-field>
        <mat-form-field class="recipients-form-field">
            <mat-label>{{ 'CONTENT.RECIPIENT_GROUPS.CREATE_RECIPIENT_GROUP.RECIPIENTS_FIELD.LABEL' | translate }}</mat-label>
            <mat-hint>{{ 'CONTENT.RECIPIENT_GROUPS.CREATE_RECIPIENT_GROUP.RECIPIENTS_FIELD.HINT' | translate }}</mat-hint>
            <mat-select [formControlName]="'groupRecipients'" (selectionChange)="onGroupRecipientsSelectionChange($event)" multiple>
                <mat-option *ngFor="let recipient of recipients" [value]="recipient.id">{{ recipient.email }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <mat-chip-list>
        <mat-chip *ngFor="let chipRecipient of chipsRecipients">{{ chipRecipient.email }}</mat-chip>
    </mat-chip-list>
</mat-dialog-content>

<mat-dialog-actions class="actions">
    <button mat-raised-button
            color="accent"
            (click)="onCancel()">
        {{ 'CONTENT.RECIPIENT_GROUPS.CREATE_RECIPIENT_GROUP.ACTIONS.CANCEL' | translate }}
    </button>
    <button mat-raised-button
            color="primary"
            [disabled]="formGroup.invalid"
            (click)="onCreateRecipientGroup()">
        {{ 'CONTENT.RECIPIENT_GROUPS.CREATE_RECIPIENT_GROUP.ACTIONS.CREATE' | translate }}
    </button>
</mat-dialog-actions>
