<h2 mat-dialog-title>
    New recipient group
</h2>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="formGroup" name="formGroup">
        <mat-form-field>
            <mat-label>Recipient group title</mat-label>
            <mat-hint>Unique identifier, e.g. "friends"</mat-hint>
            <input matInput
                   required
                   [formControlName]="'title'"
                   >
        </mat-form-field>
        <mat-form-field class="recipients-form-field">
            <mat-label>Recipient group recipients</mat-label>
            <mat-hint>Check all recipients that will be included in the group</mat-hint>
            <mat-select [formControlName]="'groupRecipients'" (selectionChange)="onGroupRecipientsSelectionChane($event)" multiple>
                <mat-option *ngFor="let recipient of recipients" [value]="recipient.id">{{ recipient.email }}</mat-option>
            </mat-select>
        </mat-form-field>
    </form>

    <mat-chip-list>
        <mat-chip *ngFor="let chipRecipient of chipsRecipients">{{ chipRecipient.email }}</mat-chip>
    </mat-chip-list>
</mat-dialog-content>

<mat-dialog-actions class="actions">
    <button mat-raised-button
            color="accent"
            (click)="onCancel()">
        Cancel
    </button>
    <button mat-raised-button
            color="primary"
            [disabled]="formGroup.invalid"
            (click)="onCreateRecipientGroup()">
        Create
    </button>
</mat-dialog-actions>
