<label>{{ 'CONTENT.SEND_EMAILS.TEMPLATE_SELECTOR.SELECTED_LABEL' | translate }}</label>

<mat-card *ngIf="selectedTemplate" class="selected-template-card">
    <mat-card-header>
        <mat-card-title>{{ selectedTemplate.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            {{ selectedTemplate.message }}
        </p>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="!selectedTemplate" class="selected-template-card-empty">
    {{ 'CONTENT.SEND_EMAILS.TEMPLATE_SELECTOR.UNSELECTED' | translate }}
</mat-card>

<button mat-raised-button color="primary" (click)="onSelectTemplate()">
    {{ 'CONTENT.SEND_EMAILS.TEMPLATE_SELECTOR.SELECT_PROMPT' | translate }}
</button>
