<div class="container">
    <h1 class="mat-h1">
        <mat-icon>person</mat-icon>
        Recipients
    </h1>
    <div class="heading-container">
        <button mat-raised-button color="primary" (click)="onCreateRecipient()">
            + Create new recipient
        </button>
        <span class="separator">
            OR
        </span>
        <mat-form-field class="seach-field">
            <mat-label>Search by email</mat-label>
            <input matInput [(ngModel)]="emailSearchValue">
        </mat-form-field>
    </div>
    <ng-container *ngIf="recipients!.length else empty">
        <div class="cards">
            <mat-card class="card" *ngFor="let recipient of recipients | searchRecipient: emailSearchValue">
                <mat-card-header>
                    <mat-card-title>{{ recipient.email }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p *ngIf="recipient.firstName">First name: {{ recipient.firstName }}</p>
                    <p *ngIf="recipient.lastName">Last name: {{ recipient.lastName }}</p>
                    <p *ngIf="recipient.phoneNumber">Phone number: {{ recipient.phoneNumber }}</p>
                    <p *ngIf="recipient.address">Address: {{ recipient.address }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-icon-button (click)="onDeleteRecipient(recipient)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button (click)="onEditRecipient(recipient)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </ng-container>
</div>

<ng-template #empty>
    <h4 class="mat-h4 title">
        N/A
    </h4>
</ng-template>
