@import '../shared/_ui-tools.scss';
@import '../shared/_variables.scss';

:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

    .container {
        @include flex-column-centered();

        padding: 16px;

        .heading-container {
            @include flex-row-centered();

            h1 {
                display: inline-flex;
                align-items: center;

                mat-icon {
                    margin-right: 8px;
                }
            }

            .separator {
                margin: 0 16px 0 16px;
            }

            .seach-field {
                display: flex;
                align-items: flex-start;
                margin-top: 16px;
            }
        }
    }

    .title {
        font-size: 24px;
        margin: 16px 0;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        // height: 100%;
        padding: 32px;
        overflow: auto;

        .card {
            transition: all 150ms ease-in-out;
            margin: 8px;

            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
        }
    }
}