<div class="container">
    <h1 class="mat-h1">
        <mat-icon>person</mat-icon>
        {{ 'CONTENT.RECIPIENTS.DASHBOARD.TITLE' | translate }}
    </h1>
    <div class="heading-container">
        <button mat-raised-button color="primary" (click)="onCreateRecipient()">
            {{ 'CONTENT.RECIPIENTS.DASHBOARD.CREATE' | translate }}
        </button>
        <span class="separator">
            {{ 'CONTENT.RECIPIENTS.DASHBOARD.OR' | translate }}
        </span>
        <mat-form-field class="seach-field">
            <mat-label>{{ 'CONTENT.RECIPIENTS.DASHBOARD.SEARCH' | translate }}</mat-label>
            <input matInput [(ngModel)]="emailSearchValue">
        </mat-form-field>
    </div>
    <ng-container *ngIf="recipients!.length else empty">
        <div class="cards">
            <mat-card class="card" *ngFor="let recipient of recipients | searchRecipient: emailSearchValue">
                <mat-card-header>
                    <mat-card-title>{{ recipient.email }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p *ngIf="recipient.firstName">
                        {{ 'CONTENT.RECIPIENTS.DASHBOARD.FIRST_NAME' | translate }} {{ recipient.firstName }}
                    </p>
                    <p *ngIf="recipient.lastName">
                        {{ 'CONTENT.RECIPIENTS.DASHBOARD.LAST_NAME' | translate }} {{ recipient.lastName }}
                    </p>
                    <p *ngIf="recipient.phoneNumber">
                        {{ 'CONTENT.RECIPIENTS.DASHBOARD.PHONE_NUMBER' | translate }} {{ recipient.phoneNumber }}
                    </p>
                    <p *ngIf="recipient.address">
                        {{ 'CONTENT.RECIPIENTS.DASHBOARD.ADDRESS' | translate }} {{ recipient.address }}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-icon-button (click)="onDeleteRecipient(recipient)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button (click)="onEditRecipient(recipient)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </ng-container>
</div>

<ng-template #empty>
    <h4 class="mat-h4 title">
        N/A
    </h4>
</ng-template>
