<div class="wrapper mat-app-background">
    <!-- Header -->
    <header>
        <mat-toolbar class="mat-elevation-z6" color="primary">
            <mat-toolbar-row>
                <button class="home-button" mat-icon-button (click)="drawer.toggle()">
                    <mat-icon class="drawer-icon" *ngIf="!drawer.opened">menu</mat-icon>
                    <mat-icon class="drawer-icon" *ngIf="drawer.opened">close</mat-icon>
                </button>
                Email Templater
            </mat-toolbar-row>
        </mat-toolbar>
    </header>

    <!-- Navigation drawer with content -->
    <mat-drawer-container [autosize]="true">
        <mat-drawer #drawer [mode]="'side'">
            <app-drawer-item routerLink="/home" [icon]="'home'">
                Home
            </app-drawer-item>
            <app-drawer-item routerLink="/view-templates" [icon]="'draw'">
                Email templates
            </app-drawer-item>
            <app-drawer-item routerLink="/view-recipients" [icon]="'person'">
                Recipients
            </app-drawer-item>
            <app-drawer-item routerLink="/view-recipient-groups" [icon]="'people'">
                Recipient groups
            </app-drawer-item>
            <app-drawer-item [icon]="'history'">
                History
            </app-drawer-item>
            <app-drawer-item [icon]="'email'">
                Send email
            </app-drawer-item>
        </mat-drawer>

        <mat-drawer-content class="mat-app-background">
            <main>
                <router-outlet></router-outlet>
            </main>
        </mat-drawer-content>
    </mat-drawer-container>

    <!-- Footer -->
    <footer>
        <mat-toolbar class="mat-elevation-z6" color="primary">
            <mat-toolbar-row>
                FMI
            </mat-toolbar-row>
        </mat-toolbar>
    </footer>
</div>
