<h2 mat-dialog-title align="center">
    <div>
        {{ 'CONTENT.EMAIL_TEMPLATES.DELETE_TEMPLATE.TITLE' | translate }}
    </div>
    <div class="email-template-title">{{ data.emailTemplate.title }}</div>
    {{ 'CONTENT.EMAIL_TEMPLATES.DELETE_TEMPLATE.PROMPT' | translate }}
</h2>

<mat-dialog-actions class="actions">
    <button mat-raised-button
            color="accent"
            (click)="onCancel()">
        {{ 'CONTENT.EMAIL_TEMPLATES.DELETE_TEMPLATE.ACTIONS.NO' | translate }}
    </button>
    <button mat-raised-button
            color="primary"
            (click)="onDeleteTemplate()">
        {{ 'CONTENT.EMAIL_TEMPLATES.DELETE_TEMPLATE.ACTIONS.YES' | translate }}
    </button>
</mat-dialog-actions>
