<h2 mat-dialog-title align="center">
    <div>
        You are about to delete recipient group with title: 
    </div>
    <div class="recipient-group-title">{{ data.recipientGroupResource.title }}</div>
    Are you sure?
</h2>

<mat-dialog-actions class="actions">
    <button mat-raised-button
            color="accent"
            (click)="onCancel()">
        No
    </button>
    <button mat-raised-button
            color="primary"
            (click)="onDeleteRecipientGroup()">
        Yes
    </button>
</mat-dialog-actions>
