<h2 mat-dialog-title align="center">
    <div>
        {{ 'CONTENT.RECIPIENT_GROUPS.DELETE_RECIPIENT_GROUP.TITLE' | translate }}
    </div>
    <div class="recipient-group-title">{{ data.recipientGroupResource.title }}</div>
    {{ 'CONTENT.RECIPIENT_GROUPS.DELETE_RECIPIENT_GROUP.PROMPT' | translate }}
</h2>

<mat-dialog-actions class="actions">
    <button mat-raised-button
            color="accent"
            (click)="onCancel()">
        {{ 'CONTENT.RECIPIENT_GROUPS.DELETE_RECIPIENT_GROUP.ACTIONS.NO' | translate }}
    </button>
    <button mat-raised-button
            color="primary"
            (click)="onDeleteRecipientGroup()">
        {{ 'CONTENT.RECIPIENT_GROUPS.DELETE_RECIPIENT_GROUP.ACTIONS.YES' | translate }}
    </button>
</mat-dialog-actions>
