<h2 mat-dialog-title>
    <span>
        {{ 'CONTENT.SEND_EMAILS.RECIPIENTS_LIST.TITLE' | translate }}
    </span>
    <mat-icon>person</mat-icon>
</h2>

<mat-dialog-content class="mat-typography">
    <h4 class="hint">
        <mat-icon>info</mat-icon>
        <div>
            <div>
                {{ 'CONTENT.SEND_EMAILS.RECIPIENTS_LIST.INFO' | translate }}
            </div>
        <div>
            {{ 'CONTENT.SEND_EMAILS.RECIPIENTS_LIST.CUSTOM_RECIPIENTS_INFO' | translate }}
        </div>
    </div>
    </h4>

    <mat-form-field class="recipients-form-field">
        <mat-label>{{ 'CONTENT.SEND_EMAILS.RECIPIENTS_LIST.RECIPIENTS_FIELD.LABEL' | translate }}</mat-label>
        <mat-hint>{{ 'CONTENT.SEND_EMAILS.RECIPIENTS_LIST.RECIPIENTS_FIELD.HINT' | translate }}</mat-hint>
        <mat-select (selectionChange)="onRecipientsSelectionChange($event)" required multiple>
            <mat-option
                *ngFor="let recipient of recipients"
                [value]="recipient"
                [matTooltip]="buildRecipientTooltip(recipient)">
                {{ recipient.email }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <label class="tsv-data-label">
        {{ 'CONTENT.SEND_EMAILS.RECIPIENTS_LIST.PLACEHOLDERS_PREFIX' | translate }}
        {{ placeholdersListHint }}
    </label>

    <mat-form-field class="recipients-data-form-field">
        <mat-label>{{ 'CONTENT.SEND_EMAILS.RECIPIENTS_LIST.RECIPIENTS_TSV_FIELD.LABEL' | translate }}</mat-label>
        <textarea matInput
                  required
                  matTextareaAutosize
                  matAutosizeMaxRows="30"
                  class="recipients-textarea"
                  [(ngModel)]="recipientsTsvData"
                  [disabled]="!selectedRecipients"
                  (keydown.Tab)="onTabKey($event)">
        </textarea>
    </mat-form-field>
    <button class="clipboard-button"
            mat-raised-button
            color="primary"
            [cdkCopyToClipboard]="recipientsTsvData"
            [disabled]="clipboardButtonDisabled"
            (click)="onClipboardButtonClick()">
        {{ clipboardButtonText }}
    </button>
</mat-dialog-content>

<mat-dialog-actions class="actions">
    <button mat-raised-button
            color="accent"
            (click)="onCancel()">
        {{ 'CONTENT.SEND_EMAILS.RECIPIENTS_LIST.ACTIONS.CANCEL' | translate }}
    </button>
    <button mat-raised-button
            color="primary"
            [disabled]="!selectedRecipients || !recipientsTsvData"
            (click)="onSubmitRecipients()">
        {{ 'CONTENT.SEND_EMAILS.RECIPIENTS_LIST.ACTIONS.ADD' | translate }}
    </button>
</mat-dialog-actions>
