<h2 mat-dialog-title align="center">
    <div>
        {{ 'CONTENT.RECIPIENTS.DELETE_RECIPIENT.TITLE' | translate }}
    </div>
    <div class="recipient-title">{{ data.recipientResource.email }}</div>
    {{ 'CONTENT.RECIPIENTS.DELETE_RECIPIENT.PROMPT' | translate }}
</h2>

<mat-dialog-actions class="actions">
    <button mat-raised-button
            color="accent"
            (click)="onCancel()">
        {{ 'CONTENT.RECIPIENTS.DELETE_RECIPIENT.ACTIONS.NO' | translate }}
    </button>
    <button mat-raised-button
            color="primary"
            (click)="onDeleteRecipient()">
        {{ 'CONTENT.RECIPIENTS.DELETE_RECIPIENT.ACTIONS.YES' | translate }}
    </button>
</mat-dialog-actions>
