<h2 mat-dialog-title align="center">
    <div>
        You are about to delete recipient with email: 
    </div>
    <div class="recipient-title">{{ data.recipientResource.email }}</div>
    Are you sure?
</h2>

<mat-dialog-actions class="actions">
    <button mat-raised-button
            color="accent"
            (click)="onCancel()">
        No
    </button>
    <button mat-raised-button
            color="primary"
            (click)="onDeleteRecipient()">
        Yes
    </button>
</mat-dialog-actions>
